/*
 * * Do not remove the @namespace line -- it's required for correct functioning
 * */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

.tab-icon-image, .tab-close-button,
.autocomplete-history-dropmarker, #plugins-notification-icon,
#go-button, .tab-throbber, #notification-popup-box,
#identity-box, .search-go-button, #addonbar-closebutton,
.tabs-newtab-button, #appmenu-toolbar-button,
.urlbar-history-dropmaker {
	display: none !important;
}

#urlbar-container {
	border: 0 !important;
	height: 21px !important;
	min-height: 21px !important;
	max-height: 21px !important;
	width: 260px !important;
	min-width: 260px !important;
	max-width: 260px !important;
}

#urlbar {
	-moz-appearance: none !important;
	border: 0 !important;
	border-left: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
	color: #888 !important;
	height: 25px !important;
	min-height: 25px !important;
	max-height: 25px !important; 
	background: #151515 !important;
	background-image: none !important;
	text-align: left !important;
	padding-left: 10px !important;
}

#tabbrowser-tabs {
	background: #151515 !important;
	background-image: none !important;
	border-bottom: 1px solid #000 !important;
}

.tab-text {
	padding-left: 10px !important;
}

.tabbrowser-tab {
	background-image: none !important;
	border-radius: 0 !important;
	border: 0 !important;
	border-left: 1px solid #000 !important;
	background: #151515 !important;
	color: #555 !important;
	height: 21px !important;
	min-height: 21px !important;
	max-height: 21px !important;
}

.tabbrowser-tab[selected="true"] {
	color: #aaa !important;
	background: #1d1d1d !important;
}

#tabbrowser-tabs tab:last-child {
	border-right: 1px solid #000 !important;
}

#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon,
#reload-button .toolbarbutton-icon,
#urlbar-reload-button .toolbarbutton-icon,
#stop-button .toolbarbutton-icon,
#star-button,
#go-button,
#urlbar-stop-button .toolbarbutton-icon,
#urlbar-go-button .toolbarbutton-icon,
#tabbrowser-tabs tab .tab-close-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon,
#appmenu-button .button-icon {
	list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAAAMBAMAAACEtx4pAAAAFVBMVEUAAAClpaWmpqajo6OgoKCkpKShoaGS3maXAAAAAXRSTlMAQObYZgAAAJFJREFUaN7NUMENAzEIs3PXP2yQVuo/HaEz3AK3/xQFkhxKB6gaCWKBjUOAX50yAng34AYQPVAhhkQNKmVWozFSwz55vfl0KLRMVRdGaxpY3g5Xgbyq9azBSgnTJC7pU7ygj7vB2laJJVlccHaXki5b9cE+epD5tcseu0hg4oISu8W7xi75QXi1QGWVMMnEH58PGA0IRCLUsPkAAAAASUVORK5CYII=) !important;
}

#back-button .toolbarbutton-icon {
	-moz-image-region: rect(0, 11px, 11px, 0) !important;
}

#forward-button .toolbarbutton-icon,
#urlbar-go-button .toolbarbutton-icon {
  -moz-image-region: rect(0, 22px, 11px, 11px) !important;
}

#reload-button .toolbarbutton-icon,
#urlbar-reload-button .toolbarbutton-icon {
	-moz-image-region: rect(0, 33px, 11px, 22px) !important;
}

#stop-button .toolbarbutton-icon,
#urlbar-stop-button .toolbarbutton-icon,
#tabbrowser-tabs tab .tab-close-button .toolbarbutton-icon {
	-moz-image-region: rect(0, 44px, 11px, 33px) !important;
}

#appmenu-button .button-icon {
	-moz-image-region: rect(0, 66px, 11px, 55px) !important;
}

#star-button[starred="true"] {
	-moz-image-region: rect(0, 88px, 11px, 77px) !important;
	margin: 0 1px 0 0 !important;
	padding: 0 !important;
}

#star-button:not([starred="true"]) {
	-moz-image-region: rect(0, 77px, 11px, 66px) !important;
	margin: 0 1px 0 0 !important;
	padding: 0 !important;
}

#go-button {
	-moz-image-region: rect(0, 99px, 11px, 88px) !important;
	margin: 1px 2px 0 0 !important;
	padding: 0 !important;
}
