body {
      background-color: #002b36;
      font-family: "Terminus";
      font-weight: normal;
      margin-left: 7%;
    }
    a:link,a:visited,a:active {
      text-decoration: none;
      color: #bfbfbf;
      font-weight: normal;
    }
    a:hover {
      text-decoration: none;
      color: #559A6A;
      font-weight: bold;
    }
    table {
      font-size: 12pt;
      border-spacing: 8px;
    }
    td { 
      vertical-align: middle;
    }
    td:first-child {
      font-weight: bold;
      color: #C4756E
    }
    td:nth-child(2) {
      font-weight: normal;
      color: #909090;
    }
